<!-- hero section -->
<div class="hero vh-100 d-flex align-items-center" id=home>
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto text-center">
        <h1 class="display-4 text-white">WordCanvas</h1>
        <p class="text-white my-3">Embark on an odyssey through a world where love, laughter, and happiness reign supreme.
        </p>
        <%= link_to "Go to post", new_tweet_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<!-- hero section -->
