<!-- app/views/words/index.html.erb -->
<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">New Words</h2>
      <div class="word_item">
        <%= render 'words/word_section', words: @beginners, title: 'Beginner', section_class: 'word_beginner', title_class: 'beginner_title', content_class: 'beginner_content' %>
        <%= render 'words/word_section', words: @intermediates, title: 'Intermediate', section_class: 'word_intermediate', title_class: 'intermediate_title', content_class: 'intermediate_content' %>
        <%= render 'words/word_section', words: @advanceds, title: 'Advanced', section_class: 'word_advanced', title_class: 'advanced_title', content_class: 'advanced_content' %>
      </div>
    </div>
  </div>
</div>
