/* リセットCSS */
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
  color: var(--dark);
  font-weight: 700;
}

body {
  font-family: "Sora", sans-serif;
  line-height: 1.7;
  color: var(--body);
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

li {
  list-style: none;
}

a {
  color: var(--dark);
  text-decoration: none;
}

:root {
  --primary: #0d6efd;
  --dark: #21252f;
  --body: #888;
}

/* ヘッダー */
.navbar-brand {
  height: 50px;
  width: auto;
}

.navbar .nav-link {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

/* ログイン */
.login_main {
  background-image: url('/assets/login.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.login_main::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(206, 202, 202, 0.4);
  z-index: -1;
}

.login_form {
  background-color: #fff;
  border-radius: 7px;
}

/* フォーム周り */
.form__wrapper{
  text-align: center;
  width: 95%;
  min-height: calc(100vh - 161px);
  margin: 0 auto;
}

.word_item {
  width: 100%;
  height: 90vh;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.beginner_title, .intermediate_title, .advanced_title {
  font-size: 20px;
}

.word_beginner {
  flex-grow: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.beginner_content, .intermediate_content, .advanced_content {
  border-radius: 5px;
  border: 1px #969694 solid;
  flex-grow: 1;
  margin-top: 10px;
  font-size: 25px;
}

.word_intermediate {
  flex-grow: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.word_advanced {
  flex-grow: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
}

.select-box{
  width: 13%;
  height: 30px;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  margin-top: 20px;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #b9b9ac;
  border: 1px #969694 solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* メイン */

.hero {
  background-image: url('/assets/cover.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(37, 39, 71, 0.7);
  z-index: -1;
}

/* 検索フォームのスタイル */
.search {
  margin-top: 20px; /* 必要に応じて調整 */
}

.search .container {
  display: flex;
  justify-content: center;
}

.search-form {
  width: 100%;
  max-width: 600px; /* 最大幅を設定 */
}

.search-form .form-group {
  margin-bottom: 10px;
}

.search-form .form-inline {
  display: flex;
}

.search-form .form-control {
  flex-grow: 1; /* フレックスボックスで幅を自動調整 */
  margin-right: 10px; /* ボタンとの間に少し余白を追加 */
}

.search-form .btn {
  white-space: nowrap; /* ボタンの幅が広がりすぎないようにする */
}


/* 単語帳詳細ページ */
.prototype__wrapper.text-center .prototype__body {
  text-align: center;
}

.prototype__wrapper.text-center .prototype__detail {
  margin-bottom: 1rem; /* 各詳細セクションの間に適度なスペースを追加 */
}

.prototype__wrapper.text-center .prototype__image {
  margin-bottom: 2rem; /* 画像の下にスペースを追加 */
}

.prototype__wrapper{
  min-height: calc(100vh - 161px);
}

.prototype__heading{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.prototype__user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}
.prototype__image img {
  display: block;
  margin: 0 auto;
}

.prototype__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}

.detail__content{
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
}

.detail__title{
  font-size: 20px;
  font-weight: bold;
}
.prototype__manage{
  display: flex;
  justify-content: center;
  padding: 10px;
}
.prototype__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.prototype__btn:hover{
  color: #fff;
  background: #999;
}

.prototype__comments{
  background-color: #f6f6f6;
  padding: 20px;
  margin: 28px 0 40px 0;
}

.comments_lists{
  padding-left: 20px;
}

.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
}

.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}

/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
}
.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1{
  text-align: left;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}
.table__col2{
  text-align: left;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
/* フッター */

.footer {
  background-color: #d7d8c7;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}